.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.frameholder {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.routes-holder {
  height: 100%;
}

.row {
  width:100%;
  height:49%;
}

.row div {
  width:49%;
  height:100%;
  float:left;
}

.frame0 {
  border-top: 2px solid black;
  border-right: 1px solid black;
  border-left: 2px solid black;
  border-bottom: 1px solid black;
}

.frame1 {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.frame2 {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;}

.frame3 {
  border-top: 1px solid black;
  border-right: 2px solid black;
  border-left: 1px solid black;
  border-bottom: 2px solid black;
}

.TakePhoto {
  height: 100%;
}